@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mein ersten Git-Hub Projekt</h1>
    <p class="lead">Hierbei handelt es sich nur um eine dumme Spielerei :)</p>
</div>

<h2>Hier steht wer alle darin rum bastelt:</h2>
<ul>
    <li>

    </li>
</ul>